.details-page{
   justify-content: center;
   align-items:center;
   flex-direction:column;
   /* margin-top:115px; */
}

.details-hero {
    position:relative;
    display:flex;
    flex-direction: column;
    background-image: linear-gradient(to right bottom, #123047, #133854, #144062, #154970, #17517E);
    color:white;
    width:95%;
    height:373px;
    justify-content: center;
}

.details-hero h1, .details-hero h2 {
    /* overrrides h1 colors in app.css file */
    color:white !important;
}


.details-hero button {
    margin:25px 0px;
}

.hero-sub-info {
    display:flex;
    justify-content: center;
}

.hero-sub-info * {
    /* margin:5px;
    padding:5px; */
}

.hero-sub-info .star-ratings {
    margin:0px 5px;
}

.details-content {
    display:flex;
    width:100%;
    max-width:1200px;
    justify-content: center;
    align-items:flex-start;
    border-bottom:2px solid #BEBCBC78;
}

.details-content p {
    color:#939393;
}

.split-left {
    display:flex;
    flex-direction:column;
    text-align:left;
   width:50%;
    float:left;
    padding:25px;
}
.split-right {
    display:flex;
    flex-direction:column;
    width:50%;
    float:right;
    text-align: left;
    padding: 25px;
    
}

.loading-block{
    height:75vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.details-content h2 {
    font-weight:300;
}

.back-link {
    text-align: left;
    /* max-width: 980px; */
    display: flex;
    justify-content: flex-start;
    width: 1200px;
    margin: 50px 0px 0px 25px;
}

.hero-heart {
    position:absolute;
    top:15px;
    right:15px;
    transition:.3s;
    cursor:pointer;
    font-size:25px;
}

.hero-heart:hover {
    transition:.3s;
    transform:scale(1.25);
}


.spec-icons {
    display:flex;
    flex-wrap:wrap;
    max-width:300px;
    /* justify-content: center; */
}

.spec-icons p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: .75rem;
    width:100px;
    justify-content: center;
    margin: 25px 35px 25px 0px;

}

.spec-icons i{
    /* display:flex; */
    font-size:42px;
    color:#77E0D4;
    margin:10px 0px;
}

@media(max-width:1200px) {
    .back-link {
        width:100%;
    }
}


@media(max-width:800px) {
    .details-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-items: unset;
    }

    .split-left{
        width:90%;
    }

    .split-right{
        width:90%;
    }

    .spec-icons {
        max-width:unset;
        justify-content: center;
    }
}