.ql-toolbar {
    display:none;
}
.ql-editor {
        -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    column-count: initial !important;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
    height: 100px;
    min-height: 100px;
    max-height: 400px;
    padding: 10px !important;
    border-radius: 10px;
    border: 2px solid #E3E3E3;
    font-family: inherit;
    font-size: inherit;
    line-height: initial !important;
    width:100%;
    max-width:100%;
    min-width:250px;
    max-height:600px;
    margin:10px 0px;
}

.ql-editor::placeholder {
    /* color:#E3E3E3; */
}

.ql-editor p  {
    color:#E3E3E3;
    font-size:16px;
}

.ql-container.ql-snow {
    border:none;
}