
* {
  font-family: "azo-sans-web",sans-serif;
}

input:focus {
  outline:none;
}


.App {
  text-align: center;
  overflow-x: hidden !important;
}

h1, h2, h3 {
/* font-family: 'adelle'; */
  /* font-family: serif; */
color:#123047;
}

h1 {
  margin:0;
  font-weight:unset;
}

h3 {
  font-weight:unset;
}

p, li, h3, h4, h5, a, button {
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: adelle, serif; */
  letter-spacing:.1rem
}

/* .App {
  background-image:url(../src/media/moroccan-flower.png);
  box-shadow: inset 0 0 0 1000px rgba(217, 189, 189, .7);
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-content {
  /* height:90vh; */
  /* margin-top:5%; */
}


.primaryTextColor {
  color: #0E3B62;
}

.lightText  {
  color:  #ECECEC
}

.darkText {
  color: #707070;
}

/* hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
} */

/* @media (max-width: 667px) {
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}
} */

.addPadding {
  padding:5%;
}


.footer-div{
  height:200px;
  background-color:lightblue;
}

.footer-div > * {
  position:absolute;
  top:50%;
}


.btn {
  cursor:pointer;
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* background-color: #77E0D4; */
  border: 1px solid transparent;
  padding: 1rem 3rem !important;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:focus {
  outline:none;
}

.login-btn {
  background-color: #77E0D4;
}

.login-btn:hover {
    box-shadow: 0 0 10px #77E0D4;
}

.modal-btn {
  background-color:#77E0D4;
}
.modal-btn:hover {
  box-shadow: 0 0 10px#77E0D4;
}