.review-delete-btn {
    cursor:pointer;
    font-size:25px;
    position: absolute;
    top: 10px;
    right: 0px;
    transition:.3s;
}

.review-delete-btn:hover{
    transition:.3s;
    transform:scale(1.25);
}




/* .reviews-comp{
    position:relative;
} */