.listing-page {
    background-color:white;
    min-height:100vh;
    height:100%;
    width:100%;
}

.listing-page-content{
    display:flex;
    flex-direction:column;
    justify-content: center;
    /* align-items: center; */
    margin:100px auto;
    text-align:left;
    min-height:75vh;
    height:100%;
    width:800px;
    /* width:100%; */
}

/* .cats {
    margin-top:25px;
} */

.listing-page-content h1 {
    font-weight:200;
    color:white;
    text-align: left;
    font-size:60px;
    margin:25px 0px;
}

.category-icon {
    margin-right:15px;
}

.single-cat {
    padding: 5px;
}

.single-cat a{
    display:flex;
    color:#123047;
    width:100%;
    justify-content:space-between;
    /* min-width:750px; */
    border-bottom:2px solid rgba(190, 188, 188, .1);
}



.loading-block-srp{
    /* background-image:linear-gradient(to right bottom, #123047, #133854, #144062, #154970, #8f8f8f); */
    background-color: white;
    height:100vh;
    /* margin-top:115px; */
    display:flex;
    justify-content: center;
    align-items: center;
}



@media(max-width:850px) {
    .listing-page-content {
        padding:25px;
        width:unset;
    }
    .listing-page-content h1 {
        font-size:30px;
    }
    .listing-page .single-test {
        max-width:400px;
        margin:10px auto;
        overflow:hidden;
        text-overflow:ellipsis;
    }
    .single-test p {
        max-width:400px;
        overflow:hidden;
        white-space:nowrap;
    }
    .srp-action-btns button {
        padding:.5rem 2rem !important;
    }
    .single-test-text {
        font-size:.75rem;
    }
    .single-cat {
        max-width:400px;
        margin:10px auto;
        overflow:hidden;
        text-overflow:ellipsis;
       
    }

}