.srp-page {
    /* background-image: linear-gradient(to right bottom, #123047, #133854, #144062, #154970, #17517E); */
   background-color:white;
    min-height:100vh;
    height:100%;
    width:100%;
}

.srp-page-content{
    display:flex;
    flex-direction:column;
    /* justify-content: center; */
    /* align-items: center; */
    margin:0px auto;
    text-align:left;
    min-height:75vh;
    height:100%;
    max-width:800px;
    /* width:100%; */
    margin-bottom: 115px;
}

.srp-page-content h1 {
    font-weight:200;
    color:white;
    text-align: left;
    font-size:60px;
    margin:25px 0px;
}

.category-icon {
    margin-right:15px;
}

.srp-page .single-cat {
    background-color:rgba(248, 248, 248, .1);
    border-radius:15px;
    margin:10px 0px;
}

.srp-page .single-cat a{
    /* padding:10px 25px; */
    display:flex;
    color:white;
    width:100%;
    justify-content:space-between;
    min-width:750px;
    border-bottom:none ;
}


.listing-page-content .cats {
    margin-top:35px;
}


.single-test h2 {
    color:#123047;
}


.srp-page .single-test {
    position:relative;
    background-color:#f7f7f7;
    border-radius: 12px;
    margin: 10px 0;
    padding: 25px 25px;
    color:#123047;
}

.srp-page .single-test a{
    /* padding:10px 25px; */
    display:flex;
    color:white;
    width:100%;
    justify-content:space-between;
    min-width:750px;
    border-bottom:none ;
}

.single-test p {
    text-transform:capitalize;
    color:#123047;
    text-overflow:ellipsis;
}


.srp-row-header {
    color:#123047;
    border-bottom:1px solid rgba(190, 188, 188, 0.12);
    margin:25px 0px;
    display:flex;
    justify-content: space-between;
}

.srp-row-header > p:nth-child(2) {
    margin-right:25%;
}


.srp-action-btns button {
background-color:transparent;
border: 1px solid #77E0D4;
color: #77E0D4;
margin-right:5px;
padding: 1rem 2rem !important;
}


.srp-rating-block {
    display: flex;
    align-items: center;
    /* position: absolute !important; */
    top: 0px;
    /* right: 5px; */
    width:95%;
    /* justify-content: space-between; */
    justify-content: center;
}

.srp-rating-block p {
    color:#123047;
    font-size:12px;
    margin-left:10px;
}

.single-test-text h2 {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}

.single-test-text {
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.srp-test-titles p {
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.srp-line-item {
        min-width: 136px;
     margin: 0px auto;
}


@media(max-width:850px) {
    .srp-page-content {
        /* padding:25px; */
        width:90%;
        margin:0px auto;
    }
    .srp-page-content h1 {
        font-size:30px;
    }
    .srp-page .single-test {
        max-width:400px;
        margin:10px auto;
        overflow:hidden;
        text-overflow:ellipsis;
    }
    .single-test p {
        max-width:150px;
        overflow:hidden;
        white-space:nowrap;
    }
    .srp-action-btns button {
        padding:.5rem 2rem !important;
    }
    .single-test-text {
        font-size:.75rem;
    }



    .single-cat {
        max-width:400px;
        margin:10px auto;
        overflow:hidden;
        text-overflow:ellipsis;
    }


    .srp-rating-block {
        display: flex;
        align-items: center;
        /* position: absolute !important; */
        top: 0px;
        /* right: 5px; */
        width: 100%;
        /* justify-content: space-between; */
        justify-content: flex-start;
    }

    .srp-line-item {
        width: 100%;
        max-width:100%;

        /* margin: 0px auto; */
    }

    .srp-row-header > p:nth-child(2) {
        margin-right:20%;
    }

    .srp-test-titles {
        margin-right: 25px;
    }

}