.srp-page {
    background-image: linear-gradient(to right bottom, #123047, #133854, #144062, #154970, #17517E);
    min-height:100vh;
    height:100%;
    width:100%;
}

.srp-page-content{
    display:flex;
    flex-direction:column;
    /* justify-content: center; */
    /* align-items: center; */
    margin:0px auto;
    text-align:left;
    min-height:75vh;
    height:100%;
    max-width:800px;
    /* width:100%; */
    margin-top: 115px;
}

.srp-page-content h1 {
    font-weight:200;
    color:white;
    text-align: left;
    font-size:60px;
    margin:25px 0px;
}

.category-icon {
    margin-right:15px;
}

.srp-page .single-cat {
    background-color:rgba(248, 248, 248, .1);
    border-radius:15px;
    margin:10px 0px;
}

.srp-page .single-cat a{
    /* padding:10px 25px; */
    display:flex;
    color:white;
    width:100%;
    justify-content:space-between;
    min-width:750px;
    border-bottom:none ;
}


.listing-page-content .cats {
    margin-top:35px;
}


.single-test h2 {
    color:white;
}


.srp-page .single-test {
    position:relative;
    background-color:rgba(248, 248, 248, .1);
    border-radius:15px;
    margin:10px 0px;
    padding:15px;
    /* min-height:105px; */
}

.srp-page .single-test a{
    /* padding:10px 25px; */
    display:flex;
    color:white;
    width:100%;
    justify-content:space-between;
    min-width:750px;
    border-bottom:none ;
}

.single-test p {
    text-transform:capitalize;
    color:#BEBCBC;
    text-overflow:ellipsis;
}


.srp-row-header {
    color:#BEBCBC;
    border-bottom:1px solid rgba(190, 188, 188, 0.12);
    margin:25px 0px;
}


.srp-action-btns button {
background-color:transparent;
border: 1px solid rgba(190, 188, 188, 0.5);
margin-right:5px;
padding: 1rem 2rem !important;
}


.srp-rating-block {
    display: flex;
    align-items: center;
    position: absolute !important;
    top: 0px;
    /* right: 5px; */
    width:95%;
    /* justify-content: space-between; */
    justify-content: flex-end;
}

.srp-rating-block p {
    color:white;
    font-size:12px;
    margin-left:10px;
}

@media(max-width:850px) {
    .srp-page-content {
        padding:25px;
    }
    .srp-page-content h1 {
        font-size:30px;
    }
    .srp-page .single-test {
        max-width:400px;
        margin:10px auto;
        overflow:hidden;
        text-overflow:ellipsis;
    }
    .single-test p {
        max-width:400px;
        overflow:hidden;
        white-space:nowrap;
    }
    .srp-action-btns button {
        padding:.5rem 2rem !important;
    }
    .single-test-text {
        font-size:.75rem;
    }
    .single-cat {
        max-width:400px;
        margin:10px auto;
        overflow:hidden;
        text-overflow:ellipsis;
    }

}