.profile-page{
    margin-top:115px;
    /* padding:50px; */
}

.profile-welcome img {
    width:115px;
    margin:0px 25px;
    border-radius:15px;
}

.profile-welcome {
    display:flex;
    text-align:left;
    /* justify-content: center; */
}

.my-profile-content {
    width:100%;
    max-width:980px;
    margin:0px auto;
}


.profile-page  .single-review {
   background-color:#F8F8F8;
   border-radius:15px;
   padding:25px;
   display:flex;
   align-items: center;
}



.profile-page .single-review-content, .public-profile-page .single-review-content {
    margin-left:0px;
}


.profile-page .reviews-wrapper, .public-profile-page .reviews-wrapper {
    width: unset;
    max-width:unset;
}



.my-review-chevron {
    position:absolute;
    right:25px;
    color:#BEBCBC;
    font-weight:bold;
}

.saved-tests{
    margin:50px 0px;
    text-align: left;
}


.delete-icon{
    cursor:pointer;
    position:absolute;
    top:15px;
    left:15px;
}