.reviews-comp {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
}

.reviews-comp form {
    display: flex;
    margin: 15px auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.reviews-wrapper {
    margin:50px auto;
    height:100%;
    width:980px;
   max-width:980px;
    border:1px solid lightgrey;
}


.single-review {
    min-height:100px;
    max-height:100%;
    width: 100%;
    color: black;
    border: 1px solid black;
}