.reviews-comp {
    /* margin: 25px auto; */
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.reviews-comp form {
    display: flex;
    /* margin: 15px auto; */
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}

 .reviews-comp h3 {
    color:#8E8E8E;
}

.reviews-comp .actual-form textarea {
    width:100%;
}
/* 
.reviews-comp .actual-form button {
    width:60%;
    font-size:.9rem;
} */

.review-heart {
    cursor:pointer;
    color:#77E0D4;
    margin-left:50px;
    font-size:25px;
    transition:.3s;
}

.review-heart:hover {
    transition:.3s;
    transform:scale(1.25);
}

.under-text{
    margin:25px 0px;
}

.prize-box {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.prize-item {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding: 15px;
    min-width: 100px;
    /* height: 89px; */
    border: 2px solid #77E0D4;
    border-radius: 10px;
    /* margin: 25px 0px; */
}

/* .prize-item:hover {
    cursor:pointer;
    color:white;
    background-image: linear-gradient(to right bottom, #77E0D4, #2ECEE2, #00B9EF, #309FF1, #777FE0);
} */
